<div>
  <div class="headerPage">
    <h1 class="custom-heading">Editar Coleção</h1>
  </div>
  <div class="container mat-elevation-z8">
    <form [formGroup]="formCollection" (ngSubmit)="onSubmit()">
      <div class="group">
          <div class="group1">
            <mat-form-field class="halfWidth" appearance="outline">
              <mat-label>Nome da Coleção</mat-label>
              <input name="name" formControlName="name" type="text" matInput>
            </mat-form-field>
            <mat-form-field class="halfWidth" appearance="outline">
              <mat-label>Responsável pela coleção</mat-label>
              <mat-select name="idUser" formControlName="idUser" matInput>
                <mat-option *ngFor="let user of listUsers" [value]="user.id">
                  {{user.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="halfWidth" appearance="outline">
              <mat-label>Para qual estação?</mat-label>
              <mat-select matNativeControl name="launchStation" formControlName="launchStation">
                <mat-option value="Primavera">Primavera</mat-option>
                <mat-option value="Verão">Verão</mat-option>
                <mat-option value="Outono">Outono</mat-option>
                <mat-option value="Inverno">Inverno</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="halfWidth" appearance="outline">
              <mat-label>Qual é o status da coleção?</mat-label>
              <mat-select  formControlName="status">
                <mat-option value="NãoIniciada">Não iniciada</mat-option>
                <mat-option value="Andamento">Em andamento</mat-option>
                <mat-option value="Finalizada">Finalizada</mat-option>
                <mat-option value="Arquivada">Arquivada</mat-option>
              </mat-select>
            </mat-form-field>
        </div>

        <div class="group2">
          <mat-form-field class="halfWidth" appearance="outline">
            <mat-label>Ano de Lançamento</mat-label>
            <input name="releaseYearCollection" formControlName="releaseYearCollection" type="number" matInput>
          </mat-form-field>
          <mat-form-field class="halfWidth" appearance="outline">
            <mat-label>Para qual marca você está criando?</mat-label>
            <input name="brand" formControlName="brand" type="text" matInput>
          </mat-form-field>
          <mat-form-field class="halfWidth" appearance="outline">
            <mat-label>Qual é o orçamento desta coleção?</mat-label>
            <input name="budget" formControlName="budget" type="number" matInput>
          </mat-form-field>
          <mat-form-field class="halfWidth" appearance="outline">
            <mat-label>Cor da coleção</mat-label>
            <input name="collectionColors" formControlName="collectionColors" type="color" matInput>
          </mat-form-field>
        </div>
    </div>
        <div class="picture">
          <img src="../../../../assets/image.png" alt="imagem ilustrativa manequin e modelos de roupas">
        </div>
        <div class="bts">
          <button title="delete" type="button" (click)="delete()" class="mat-elevation-z4" mat-flat-button color="warn">Excluir</button>
          <button title="salvar" type="submit" class="mat-elevation-z4" mat-flat-button color="primary">Salvar</button>
          <button title="cancelar" type="button" routerLink="../../" class="mat-elevation-z4" mat-stroked-button color="warn">Cancelar</button>
        </div>
    </form>
  </div>
</div>
