<div>
  <div class="headerPage">
    <h1 class="custom-heading">Criar Usuário</h1>
  </div>
  <div class="container mat-elevation-z8">
    <form [formGroup]="formUserCreate" class="form" (ngSubmit)="create()">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nome do Usuário</mat-label>
        <input required type="text" formControlName="name" id="name" matInput>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Informe seu e-mail</mat-label>
        <input required type="email" formControlName="email" id="email" matInput>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Selecione a Empresa</mat-label>
        <mat-select name="idCompany" formControlName="idCompany">
          <mat-option *ngFor="let company of listCompanies | filterCompany:idCmp" [value]="company.id">
            {{company.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="halfWidth" appearance="outline">
        <mat-label>Tipo de Usuário</mat-label>
        <mat-select matNativeControl name="userType" formControlName="userType">
          <mat-option value="Gerente">Gerente</mat-option>
          <mat-option value="VerSomente">VerSomente</mat-option>
          <mat-option value="Time">Time</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-grid-list class="inputPassword" cols="2">
        <mat-grid-tile>
          <mat-form-field class="password" appearance="outline">
            <mat-label>Senha</mat-label>
            <input required type="password" formControlName="password" id="password" matInput>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="passwordConfirmation" appearance="outline">
            <mat-label>Confirmar senha</mat-label>
            <input required type="password" id="passwordConfirmation" formControlName="passwordConfirmation" matInput>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="bts">
        <button mat-raised-button color="primário" type="submit" id="btsblue" color="primary">Salvar</button>
        <button type="button" mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
