<div>
  <div class="headerPage">
    <h1 class="custom-heading">Configurações</h1>
  </div>

  <div class="container mat-elevation-z8" [style.background-color]="backgroundColor">
    <form [formGroup]="configForm">
      <div class="campo">
        <mat-radio-group class="radio" formControlName="defaultTheme">
          <mat-label class="matLabel">Selecionar Tema :</mat-label>
          <mat-radio-button color="primary" value="Light">Light Mode</mat-radio-button>
          <mat-radio-button color="primary" value="Dark">Dark Mode</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="campo">
        <mat-form-field class="halfWidth" appearance="outline">
          <mat-label>Tema Primário - Light Mode</mat-label>
          <input title="color" name="lightModePrimary" formControlName="lightModePrimary" type="color" matInput>
        </mat-form-field>
        <mat-form-field class="halfWidth" appearance="outline">
          <mat-label>Tema Secundário - Light Mode</mat-label>
          <input title="color" name="lightModeSecondary" formControlName="lightModeSecondary" type="color" matInput>
        </mat-form-field>
      </div>

      <div class="campo">
        <mat-form-field class="halfWidth" appearance="outline">
          <mat-label>Tema Primário - Dark Mode</mat-label>
          <input title="color" name="darkModePrimary" formControlName="darkModePrimary" type="color" matInput>
        </mat-form-field>
        <mat-form-field class="halfWidth" appearance="outline">
          <mat-label>Tema Secundário - Dark Mode</mat-label>
          <input title="color" name="darkModeSecondary" formControlName="darkModeSecondary" type="color" matInput>
        </mat-form-field>
      </div>

      <div class="campo2">
        <mat-form-field class="halfWidthTeste" appearance="outline">
          <mat-label>URL do Logotipo</mat-label>
          <input matInput formControlName="logo" placeholder="URL do Logotipo">
        </mat-form-field>
      </div>

      <div class="bts">
        <button title="salvar" type="submit" class="mat-elevation-z4" mat-flat-button color="primary"
          (click)="update()">Salvar</button>
        <button title="cancelar" type="button" class="mat-elevation-z4" mat-stroked-button color="warn"
          (click)="return()">Cancelar</button>
      </div>

    </form>
  </div>
</div>