
  .campo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .campo2{
    width: 250px;
  }

  .halfWidthTeste{
    width: 462px;
  }

  .container {
    width: 50%;
    margin: 2% auto;
    padding: 1rem 1rem;
    border-radius: .6rem;
    background-color:#FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

  }

  .headerPage {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 1rem auto;

    & .custom-heading {
      font-family: 'Inter', sans-serif; 
      font-weight: 600; 
      font-size: 28px; 
    }
  }

  .radio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    margin-bottom: 20px;

  }

  .bts {
    display: flex;
    justify-content: center;
    text-align: right;

    & button {
      width: 100%;
      margin: 20px;
    }
  }

  .matLabel{
    font-size: 20px;
    color: #333333;
  }

.light-theme{
  background-color: #F5F5F5;
  color: #333333;
}

.dark-theme{
  background-color: #333333;;
}

.blue-theme{
  background-color: #4C68FF;
}

.default-theme{
  background-color: #FFFFFF; /* Cor de fundo padrão */
}

.custom-theme {
  background-color: var(--custom-color); /* Cor de fundo personalizada */
}
