@import "../../../../scss/variables.scss";

.custom-heading {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 33.89px;
  margin: 30px 0 0 55px;
}

.container {
  width: 90%;
  margin: 3% auto;
  padding: 3rem 1rem 3rem 1rem;
  border-radius: .6rem;
  background-color: #fff;
}

.fullWidth {
  width: 100%;
}

h1 {
  margin-top: 1.5%;
  margin-left: 14%;
}

.picture {
  text-align: center;
}

mat-icon {
  opacity: 0.8;
}

.bts {
  justify-content: right;
  text-align: right;
}

button {
  margin-left: 30px;
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
  width: 15%;
}
