<div class=" container-login-reset-cadastro">
  <form [formGroup]="formUserRedefine" class="form mat-elevation-z8">
    <img src="../../../assets/Fill-51.svg" alt="logo">
    <header>
      <section class="retorno">
        <a routerLink="/login">
          <i class="material-icons arrow_back">arrow_back</i>
        </a>
      </section>
      <section class="title">
        <h1>Redefinir Senha</h1>
      </section>
    </header>
    <h4>Digite o e-mail associado à sua conta que enviaremos instruções para redefir sua senha.</h4>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Informe seu e-mail</mat-label>
      <input required type="email" id="email" formControlName="email" matInput>
      <mat-error *ngIf="formUserRedefine.controls['email'].hasError('required')">
        O campo e-mail é obrigatório.
      </mat-error>
    </mat-form-field>
    <button type="button" title="button enviar recuperação" class="full-width mat-elevation-z4"
      (click)="sendEmail()">ENVIAR RECUPERAÇÃO</button>
    <div *ngIf="exibirAviso" class="text-danger">
        Por favor, Informe seu e-mail.
    </div>
  </form>
</div>