@import '../../../scss/_variables.scss';

.container-login-reset-cadastro {
  & form{

    & header{
      display: flex;
      align-items: center;
      width: 100%;
      gap: 80px;

      & h1{
        text-align: center;
        padding-top: 10px;
      }
    }

    & button, .full-width{
      width: 100%;
      }
    
    & button {
      padding: 13px 0px;
      font-weight: 500;
      background: $color-button-login;
      border: none;
      border-radius: 6px;
      color: $color-text-button-login;
      cursor: pointer;
      height: 50px;
    }

    & h4{
      text-align: center;
      color: $color-text-login;
    }
  }
}
