@import "../../../../scss/variables.scss";

.container {
    width: 90%;
    margin: 1rem auto;
    border-radius: .6rem;

    & button {
      width: 15%;
      background-color: $color-button-colecao;
    }

    & td:hover {
      background: $color-background-td-hover;
      color: $color-td-hover;
    }
  }
  
  .headerPage {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 1rem auto;

    & .custom-heading {
      font-family: 'Inter', sans-serif; 
      font-weight: 600; 
      font-size: 28px; 
    }
  }

.snackbar-aviso {
  background-color: $color-background-snackbar-aviso;
  color: $color-snackbar-aviso;
  font-weight: bold;
}