<div class="container-login-reset-cadastro">
  <form [formGroup]="formManagerCreate" class="form mat-elevation-z8" (ngSubmit)="create()">
    <img src="../../../assets/Fill-51.svg" alt="logo empresa">
    <h1>Sign Up</h1>
    <h4>Insira os dados para finalizar o cadastro da empresa</h4>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nome do Gerente</mat-label>
      <input required type="text" formControlName="name" id="name" matInput>
      <mat-error *ngIf="formManagerCreate.get('name')?.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Informe seu e-mail</mat-label>
      <input required type="email" formControlName="email" id="email" matInput>
      <mat-error *ngIf="formManagerCreate.get('email')?.hasError('required')">Campo obrigatório</mat-error>
      <mat-error *ngIf="formManagerCreate.get('email')?.hasError('email')">Endereço de e-mail inválido</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Selecione a Empresa</mat-label>
      <mat-select name="idCompany" formControlName="idCompany">
        <mat-option [value]="idCmp">
          {{nameCmp}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formManagerCreate.get('idCompany')?.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>
    <mat-grid-list class="inputPassword" cols="2">
      <mat-grid-tile>
        <mat-form-field class="password" appearance="fill">
          <mat-label>Senha</mat-label>
          <input  type="password" formControlName="password" id="password" matInput>
          <mat-hint align="end">Exemplo: Senha@123</mat-hint>
          <mat-error *ngIf="formManagerCreate.get('password')?.hasError('required')">Campo obrigatório</mat-error>
          <mat-error *ngIf="formManagerCreate.get('password')?.hasError('minlength')">A senha deve ter no mínimo 8 caracteres</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="passwordConfirmation" appearance="fill">
          <mat-label>Confirmar senha</mat-label>
          <input  type="password" id="passwordConfirmation" formControlName="passwordConfirmation" matInput>
          <mat-error *ngIf="formManagerCreate.get('passwordConfirmation')?.hasError('required')">Campo obrigatório</mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <button class="full-width mat-elevation-z4" type="submit">CADASTRAR</button>
  </form>
</div>
