@import "../../../scss/variables";

*{
  overflow-x: hidden;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  & .sidenav {
    width: 12rem;
    color: $color-label;
  }

  & .content{

    & .top-content {
      display: flex;
      align-items: center;

      & app-header {
        flex: 1 1 auto;
      }
    }
  }
}
