<mat-sidenav-container class="container" [ngStyle]="{'background-color': company.defaultTheme === 'Light' ? company.lightModeSecondary : company.darkModeSecondary}" autosize>
  <mat-sidenav  [ngStyle]="{'background-color': company.defaultTheme === 'Light' ? company.lightModePrimary : company.darkModePrimary}" #drawer mode="side" class="sidenav" mode="side">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <div class="top-content" [ngStyle]="{'background-color': company.defaultTheme === 'Light' ? company.lightModePrimary : company.darkModePrimary}">
        <button type="button" class="menu" title="menu" (click)="drawer.toggle()"  [ngStyle]="{'background-color': company.defaultTheme === 'Light' ? company.lightModePrimary : company.darkModePrimary}" mat-icon-button>
          <mat-icon [ngStyle]="{'background-color': company.defaultTheme === 'Light' ? company.lightModePrimary : company.darkModePrimary}">menu</mat-icon>
        </button>
        <app-header [ngStyle]="{'background-color': company.defaultTheme === 'Light' ? company.lightModePrimary : company.darkModePrimary}"></app-header>
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
