<div>
  <div class="headerPage">
    <h1 class="custom-heading">Tela de Perfil</h1>
  </div>
  <div class="container mat-elevation-z8">
    <form [formGroup]="formUserEdit" class="form" (ngSubmit)="update()">
      <mat-form-field class="halfWidth" appearance="outline">
        <mat-label>Nome do Usuário</mat-label>
        <input name="name" type="text" [value]="this.user.name" matInput [readonly]="true">
      </mat-form-field>
      <mat-form-field class="halfWidth" appearance="outline">
        <mat-label>Nome da Empresa</mat-label>
        <input name="idCompany" type="text" [value]="this.bringCompanyName(this.user.idCompany)" matInput
          [readonly]="true">
      </mat-form-field>
      <mat-form-field class="halfWidth" appearance="outline">
        <mat-label>CNPJ da Empresa</mat-label>
        <input name="cnpj" type="text" [value]="this.bringCompanyCnpj(this.user.idCompany)" matInput [readonly]="true">
      </mat-form-field>
      <mat-grid-list class="inputPassword" cols="2">
        <mat-grid-tile>
          <mat-form-field class="halfWidth fsdf" appearance="outline">
            <mat-label>Senha</mat-label>
            <input class="input-grande"  name="password" formControlName="password" [type]="passwordVisible ? 'text' : 'password'" matInput>
            <button title="senha" type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()">
              <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="halfWidth" appearance="outline">
            <mat-label>Confirmar Senha</mat-label>
            <input class="input-grande"  name="passwordConfirmation" formControlName="passwordConfirmation"
              [type]="passwordVisible ? 'text' : 'password'" matInput>
            <button title="confirmar senha" type="button" mat-icon-button matSuffix
              (click)="togglePasswordVisibility()">
              <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="password-alert">
        <div
          *ngIf="formUserEdit.get('userPassword')?.hasError('minlength') && formUserEdit.get('userPassword')?.touched"
          class="form-control-feedback">
          Sua senha deve conter pelo menos 5 caracteres!
        </div>
        <div *ngIf="formUserEdit.get('userPassword')?.value !== formUserEdit.get('userPasswordConfirmation')?.value"
          class="form-control-feedback">
          As senhas não coincidem!
        </div>
      </div>
      <div class="bts">
        <button title="salvar" mat-raised-button color="primário" type="submit" id="btsblue"
          color="primary">Salvar</button>
        <button title="cancelar" type="button" mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
