@import "../../../scss/variables.scss";

.budgets {
    width: 90%;
    background-color: $color-background-chart;
    border-radius: .6rem;
    margin-left: 60px;
    margin-top: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .text{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 19.36px; 
    padding-top: 20px;
    margin-bottom: 2rem;
    margin-left: 1.4%;
    font-weight: 600;
  }