$background-color-container: #F2F5FF;

$background-color-form-login: #ffffff;

$color-button-login: #0073CF;

$color-text-login: #989898;

$color-text-button-login: #ffffff;

$color-text-reset-cadastro-login:#000000;

$color-valor-percentual: green;

$color-text:#000000;

$color-label: #ffffff;

$color-box: #D9D9D9;

$color-background-menu:#b1c4ff; 

$color-background-layout-full-screen:#F2F5FF;

$color-button-colecao: #3086cc;

$color-background-snackbar-aviso: red;

$color-snackbar-aviso: #ffffff;

$color-background-td-hover: #3086cc;

$color-td-hover: #ffffff;

$color-background-dash: #ffffff;

$color-background-collection-create: #ffffff;

$color-background-chart: #ffffff;


