@import '../../../../scss/_variables.scss';

.container-login-reset-cadastro {

  & form{

    & h1{
      text-align: center;
    }

    & button, .full-width{
      width: 100%;
      }

    & h4{
      text-align: center;
      color: $color-text-login;
    }

    & button {
      padding: 13px 0px;
      font-weight: 500;
      background: $color-button-login;
      border: none;
      border-radius: 6px;
      color: $color-text-button-login;
      cursor: pointer;
      height: 50px;
    }
  }

  & .retornoLogin{
    text-align: center;
    color: $color-text-login;
    font-size: 1rem;
    padding-top: 20px;
    gap: 8px;

    & a{
      text-decoration: none;
      cursor: pointer;
      color: $color-text-reset-cadastro-login;}
  }

}