<div class="container-login-reset-cadastro">
  <form [formGroup]="formCompanyCreate" class="form mat-elevation-z8" (ngSubmit)="create()">
    <img src="../../../assets/Fill-51.svg" alt="logo empresa">
    <h1>Sign Up</h1>
    <h4>Insira os dados para cadastrar a empresa</h4>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nome da Empresa</mat-label>
      <input required type="text" formControlName="name" id="name" matInput>
      <mat-error *ngIf="formCompanyCreate.controls['name'].hasError('required')">
        O campo nome é obrigatório.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>CNPJ da Empresa</mat-label>
      <input required type="text" formControlName="cnpj" id="cnpj" matInput>
      <mat-error *ngIf="formCompanyCreate.controls['cnpj'].hasError('required')">
        O campo CNPJ é obrigatório. 
      </mat-error>
    </mat-form-field>
    <div *ngIf="exibirAvisoCNPJ" class="text-danger">
      Por favor, insira um CNPJ válido no formato "00.000.000/0001-00".
    </div>
    <button title="continuar cadastro" class="full-width mat-elevation-z4" type="submit">CONTINUAR CADASTRO</button>
    <div *ngIf="exibirAviso" class="text-danger">
      Por favor, preencha todos os campos.
    </div>
  </form>
  <div class="retornoLogin">
    <p>Já possui uma conta?
      <a routerLink="/login">Realizar login</a>
    </p>
  </div>  
</div>
