@import "../../../scss/variables.scss";

  .container {
    width: 100%;
    margin: 3% auto;
    border-radius: .6rem;
    display: flex;
    flex-direction: column;

    & h1 {
      text-align: left;
      margin-bottom: 2rem;
      margin-left: 60px;
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      font-size: 28px;
      line-height: 33.89px;
    }

    & .card-collection {
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 15px;
      margin-left: 60px;
      gap: 15px;
    }

    & .card {
      width: 350px;
      height: 180px;
      border-radius: 8px;
      padding-top: 10px;
      margin-bottom: 20px;

      &  mat-card-title {
        font-size: 1.1rem;
        text-align: left;
        margin-top: 10px;
        margin-left: 20px;
      }

      & .subItems {
        margin-top: 50px;
      }

      & .thirdItems {
        display: inline-flex;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 15px;
      }

      .budgetText {
        margin-right: 10px;
        display: flex;
        justify-content: flex-end;
      }

      & .percentual {
        font-size: 1rem;
        margin: 5px;
        color: $color-valor-percentual;
      }

      &  span {
        font-size: 2rem;
        margin-top: 50px;
        margin-left: 30px;
      }
    }

    .budgets {
      width: 90%;
      background-color: $color-background-dash;
      border-radius: .6rem;
      margin-left: 60px;

      &  h2 {
        margin-left: 20px;
        padding-top: 10px;
        font-size: 1.1rem;
      }
    }
  }
